body{
  background-image: url(background.jpg);
  background-size: cover;
}

.container{
  text-align: center;
  width: 1000px;
  height: 800px;
  margin: auto;
  border-radius: 10px;
  background-color: rgba(0,0,0,0.6);
}

/* Logo e intestazione */
#logo{
  width: 200px;
  padding-top: 100px;
}

header span{
  font-family: 'Poppins', sans-serif;
  font-size: 30px;
  display: block;
  color: lime;
}

/* Menù prenotazioni */
.menuprenotazioni{
  padding: 10px;
  background-color: lime;
  width: 800px;
  margin: auto;
}

/* sezione articoli */

main > div{
  width: 800px;
  margin: auto;
  text-align: left;
  color: white;
  padding-top: 20px;
}

.modello{
  font-family: 'Poppins', sans-serif;
  height: 30px;
  font-size: 20px;
  padding-bottom: 20px;
}

span.info{
  display: block;
  font-family: 'Quicksand', sans-serif;
}

span.via:before{
  content: "\21A6";
}

 /* Stato carica scooter */
.statocarica{
  margin-left:0;
  padding: 15px;
  border-radius: 5px;
  margin-bottom: 25px;
  border: none;
}

.gino {
  width: 300px;
  background-color: rgb(245,180,83);
}

.mike{
  width: 500px;
  background-color: rgb(30,195,30);
}

.fede{
  width: 100px;
  background-color: rgb(194,66,66);
}
